.container-singleProject {
  display: flex;
  padding: 2em;
}

.imageContainer-singleProject img {
  width: 100%;
  height: auto;
}

.contentContainer-singleProject {
  padding: 0.5em 5em 0em 1em;
}

.title-singleProject {
  font-weight: bold;
  font-size: 1.875em;
  padding-bottom: 0.1em;
}

.tags-singleProject {
  display: flex;
  padding-bottom: 1em;
}

.tag-singleProject {
  font-weight: 300;
  font-size: 1em;  
  /* color: #fff;
  background-color: #6d9eeb;
  border-radius: 1em; */
  padding: 0em 0.5em 0em 0em;
}

.description-singleProject {
  font-weight: 300;
  font-size: 1em;
}
