.container-singleExperience {
  display: flex;
  padding: 2em;
}

.imageContainer-singleExperience img {
  width: 100%;
  height: auto;
}

.contentContainer-singleExperience {
  padding: 0.5em 5em 0em 1em;
  flex: 2
}

.title-singleExperience {
  font-weight: bold;
  font-size: 1.875em;
  padding-bottom: 0.1em;
}

.tags-singleExperience {
  display: flex;
  padding-bottom: 1em;
}

.tag-singleExperience {
  font-weight: 500;
  font-size: 1em;  
  color: #ffffff;
  background-color: #6d9eeb;
  border-radius: 1em;
  padding: 0.25em 0.5em;
  margin: 0em 0.5em 0em 0em;
}

.description-singleExperience {
  font-weight: 300;
  font-size: 1em;
}
