.container-home {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #6d9eeb;
  padding: 4em;
}

.contentContainer-home {
  padding: 2em;
  height: 100%;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.content-home {
  font-size: 1em;
}

.header-home {
  font-weight: 600;
  font-size: 2.5em;
}

.logoContainer-home {
  width: 4%;
  margin-left: 1em;
  transform: scale(1);
  -webkit-transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.logoContainer-home:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.logo-home {
  width: 100%;
  height: auto;
}

.basicInfo-home {
  display: flex;
  align-items: center;
}