.content-nav {
  display: flex;  
  align-items: center;
  justify-content: flex-end;
  padding: 1em 2em 0 0;
}

.centered {
  justify-content: center;
  padding: 0;
}

.link-nav, .link-nav-blue {
  position: relative;
  font-size: 1em;
  text-decoration: none;
  color: black;
}

.link-nav {
  color: black; 
  font-weight: 550;
}

.link-nav-blue {
  color: #6d9eeb;
}

.link-nav:before, .link-nav-blue:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;  
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.link-nav:before {
  background-color: #000;
}
.link-nav-blue:before {
  background-color: #6d9eeb;
}

.link-nav:hover:before, .link-nav-blue:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.circle-nav, .circle-nav-blue {
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;  
  margin: 0 0.75em;
}

.active {
  font-weight: 600;
  background-color: yellow;
}

.circle-nav {
  background-color: black;
}

.circle-nav-blue {
  background-color: #6d9eeb;
}


